h1.emoji(alt="face screaming in fear emoji") 😱
h1 Sorry about that... Something went wrong.
h2 I'm already working on a fix!
h2 Please come back later and if it's still not working 
  a(href="mailto:{{site.author.email}}?subject=500%20error") email me
  |  and I'll take another look at it!
