nav
  .links
    a(href="{{site.url}}{{site.baseurl}}") Return Home
    a(href="{{site.mainurl}}" target="_blank" rel="noopener noreferrer") Main Site
    a(href="https://twitter.com/{{site.author.twitter}}" target="_blank" rel="noopener noreferrer") Twitter
    a(href="https://github.com/{{site.author.github}}" target="_blank" rel="noopener noreferrer") GitHub
  .hammy-container
    button.hamburger.hamburger--vortex(type="button")
      span.hamburger-box
        span.hamburger-inner
