{
  "presets": ["next/babel"],
  "plugins": ["markdown-in-js/babel"],
  "env": {
    "development": {
      "plugins": [["inline-dotenv", { "path": ".env.dev" }]]
    },
    "production": {
      "plugins": [["inline-dotenv"]]
    }
  }
}
