{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false
          }
        ],
        [
          "inline-dotenv",
          {
            "path": ".env.dev"
          }
        ],
        "markdown-in-js/babel",
        "react-intl"
      ]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false
          }
        ],
        "inline-dotenv",
        "markdown-in-js/babel",
        "react-intl"
      ]
    }
  }
}
