{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [
              ">0.25%",
              "not ie 11",
              "not op_mini all"
            ]
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "react-intl"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.dev"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ],
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.dev"
          }
        ]
      ]
    }
  }
}
