*
!components
!lang
!lib
!pages
!scripts/default-lang.js
!server
!static
!utils/authorInfo.js
!utils/dates.js
!utils/emojis.js
!utils/findPost.js
!utils/index.js
!utils/webp.js
!.babelrc.js
!.env
!config.js
!next.config.js
!package.json
!posts.json
!yarn.lock
!.babelrc.js
