# Registries
@remix-run:registry=https://npm.remix.run
//npm.remix.run/:_authToken=${REMIX_REGISTRY_TOKEN}
# Save exact package version instead of semver range
save-exact=true
save-prefix=
# Commit message which is used by npm version when creating version commit.
message="%s"
# Don't prepend a `v` to the git tag of the release
tag-version-prefix=""
