# Save exact package version instead of semver range
save-exact=true
save-prefix=

# Commit message which is used by npm version when creating version commit.
message="%s"

# Don't prepend a `v` to the git tag of the release
tag-version-prefix=""

# Default prereleases to use canary
preid="canary"
