:root {
  --base00: #fcfcfc;
  --base01: #e0e0e0;
  --base02: #d6d6d6;
  --base03: #8e908c;
  --base04: #969896;
  --base05: #4d4d4c;
  --base06: #282a2e;
  --base07: #1d1f21;
  --base08: rgb(243, 102, 113);
  --base09: #f5871f;
  --base0A: rgb(187, 162, 51);
  --base0B: rgb(31, 196, 108);
  --base0C: rgb(48, 185, 181);
  --base0D: #3c70b5;
  --base0E: #8959a8;
  --base0F: #a3685a;
}

pre {
  @apply overflow-auto;
}
